.body {
    margin: 0 auto;
    line-height: 1.5;
    font-family: Nunito,sans-serif !important;
}


.header {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgb(247, 181, 59);
}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.navigation_bar {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    
}
.navigation_bar div a {
    
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.button {
    background-color: #ff5252;
    border-radius: 7px;
    border: none;
    color: white !important;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    
    cursor: pointer;
    transition-duration: 0.4s;
}


.button:hover {
    background-color: red;
    color: white !important;
}



.first_block {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: unset;
    padding: 100px;
    justify-content: space-between;
}

.first_block_content {
    font-size: 15px;
}

.third_block_text {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.third_block_text._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}


.block {
    margin: 0;
    
}

.second_block {
    margin: 0;
    padding: 100px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

.third_block {
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: unset;
    padding: 100px;
}


.first_block div i {
    color: orange;
}

.first_block div a {
    text-decoration: none;
    color: black;
}

.second_block div i {
    color: orange;
}

.second_block div a {
    text-decoration: none;
    color: black;
}

.third_block div i {
    color: orange;
}

.third_block div a {
    text-decoration: none;
    color: black;
}

.footer_bar {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    width: 90%;
    align-items: baseline;
    padding: 0 0 0 300px;
}

.footer_text1 {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer_contactUs {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer_contactUs a {
    text-decoration: none;
    color: black;
}

.footer_contactUs p {
    color: red;
}

.footer_Our_Products {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer_Our_Products a {
    text-decoration: none;
    color: black;
}

.footer_Our_Products p {
    color: red;
}

.footer_number {
    margin: 0;
    display: flex;
    flex-direction: column;
}
